nav{
  width:100%;
  background:white;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:100px;
  display:flex;
  align-items:center;
}
nav div{
  display:flex;
}
nav div i{
  font-size:32px;
}
nav div p{
  font-size:20px;
  margin-top:4px;
  margin-left:6.5px;
}
nav ul{
  display:flex;
}
.ul-left{
  margin-left:95px;
  font-size:14.25px;
}
.ul-left li{
  margin-right: 27px;
  color: rgb(115,115,115);
  cursor:pointer;
}
.ul-left li:hover{
  color:black;
  text-decoration:underline;
}
.ul-right{
  position:absolute;
  right:0;
  margin-right:70px;
}
.nav-img{
  position:relative;
  cursor:pointer;
  padding:5px;
  margin-top:-5px;
}
#nav-pic{
  height:39px;
  width:39px;
  margin-top:12px;
  margin-left:12px;
  border-radius:100%;
  position:absolute;
  z-index:1;
}
#banner-pic{
  height:42px;
  position:absolute;
  width:145px;
  margin-top:0px;
  border-radius:6px;
  margin-right:44px;
}
.ul-right i{
  margin-top:30px;
  transform:scale(1.15);
  cursor:pointer;
}
.ul-right li{
  margin-top:3px;
  border-radius:9px;
  height:max-content;
  width:max-content;
  cursor:pointer;
}
.ul-right li:hover{
  background:rgb(245,245,245);
}
#nav-settings{
  font-size:23px;
}
#nav-logout{
  color:red;
  margin-top:7px;
}
#nav-settings{
  margin-top:10px;
  color:rgb(90,90,90);
  padding-bottom:5px;
}
#nav-bell{
  margin-top:2.5px;
  height:23px;
  cursor:pointer;
}
#li-1{
  margin-right:12px;
  padding: 6px 14px;
}
#li-2{
  margin-right:164px;
}
#li-3{
  margin-right:12px;
  padding:0px 14px;
}
#li-4{
  padding:5px 25px;
  padding-bottom:15px;
}
.float-account-view,.float-settings-view,.float-notifications-view{
  position:absolute;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background:white;
  border-radius:10px;
  padding:40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top:77px;
}
.float-account-view{
  right:0;
  margin-right:2px;
  width:450px;
  height:330px;
  margin-top:220px;
  padding-bottom:47.5px;
}
.float-settings-view{
  right:0;
  margin-right:-90px;
  width:360px;
  height:320px;
  margin-top:215px;
}
.float-notifications-view{
  right:0;
  margin-right:-32px;
  width:360px;
  height:320px;
  margin-top:215px;
}
.top-title{
  display:flex;
  margin-top:-16px;
  margin-left:-14px;
}
.top-title h2{
  font-size:17px;
  font-weight:500;
  color:rgb(70,70,70);
}
#ttb{
  font-size:25px;
  margin-right:7px;
  margin-left:-7px;
  margin-top:-7px;
  color:rgb(70,70,70);
  padding:5px;
  border-radius:8px;
  cursor:pointer;
}
#tti{
  font-size:25px;
  margin-right:-18px;
  margin-left: auto;
  margin-top:-6px;
  color:rgb(70,70,70);
  padding:5px;
  border-radius:8px;
  cursor:pointer;
}
#tti:hover{
  background:rgb(249,249,249);
}
#tti-reverse{
  font-size:26px;
  margin-left:-12px;
  margin-right:10px;
  margin-top:-7px;
  color:rgb(70,70,70);
  padding:5px;
  border-radius:8px;
  cursor:pointer;
}
#tti-reverse:hover{
  background:rgb(249,249,249);
}
.account-view-content{
  display:flex;
  flex-direction:column;
  margin-top:4px;
  align-items:center;
  justify-content:center;
}
#banner-avc{
  border-radius:12px;
  height:130px;
  width:110%;
  margin-top:3px;
}
#pic-avc{
  height:82px;
  width:82px;
  border-radius:100%;
  margin-top:-60px;
  margin-right: auto;
  margin-left:3px;
}
.account-stats-content{
  display:flex;
}
.account-stats-content ul{
  margin-right:20px;
}
.account-view-content h3{
  text-align:center;
  margin-top:25px;
  font-weight:400;
  font-size:16px;
  color:rgb(70,70,70);
}
#type-avc{
  font-size:13.5px;
  font-weight:500;
  margin-left: auto;
  margin-top:2px;
  margin-bottom:7px;
  text-transform:uppercase;
  margin-right:-13px;
    background-position-x: 0px;
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgb(56, 123, 255);
    background-image: linear-gradient(90deg, rgb(162, 68, 255) 0%, rgb(52, 182, 255) 50%, rgb(162, 68, 255) 100%);
    animation: 3s ease-in-out 0s infinite normal none running bHafHd;
}
ul ul{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:15px;
  gap:5px;
  border-right:1px solid rgb(230,230,230);
  padding-right:20px;
}
ul ul p{
  color:rgb(150,150,150);
  font-size:14px;
  white-space:pre;
}
.account-view-content h3{
  white-space:pre-wrap;
  overflow-y:scroll;
  max-height:80px;
  width:100%;
  line-height:23px;
  padding-right:10px;
  color:rgb(105,105,105);
}
@media (max-width:650px){
  .float-settings-view,.float-account-view,.float-notifications-view{
    margin-right:0px;
    position:absolute;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    left:50%;
  }
}
@media (max-width:650px){
  .float-settings-view,.float-account-view,.float-notifications-view{

  }
  .float-settings-view, .float-notifications-view{
    width:300px;
  }
}
@media (max-width:400px){
  .float-settings-view,.float-notifications-view{
    width: 250px;
  }
  .information-form button{
    white-space:nowrap;
    margin-left:20px !important;
  }
}
@media (max-width:900px){
  .float-account-view{
    position:absolute;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    left:50%;
  }
}
@media (max-width:575px){
  .float-account-view{
    width:400px;
  }
}
@media(max-width: 1174px){
  .float-account-view{
    margin-right:-18px;
  }
  .float-settings-view,.float-notifications-view{
    margin-right:-110px;
  }
  nav{
    padding-left:30px;
  }
.ul-left{
  margin-left:30px;
}
.ul-right{
  margin-right:50px;
}
}
@media(max-width: 985px){
.ul-left{
  display:none !important;
}
}
@media(max-width: 560px){
  .float-settings-view,.float-account-view,.float-notifications-view{
    top:100%;
    margin-top:-295px;
  }
  .float-account-view{
    margin-top:-310px;
  }
  .logo-nav{
    display:none !important;
  }
.ul-right{
  position:initial;
}
  nav{
    align-items:center;
    justify-content:center;
    bottom:0;
    position:fixed;
  }
}
@media (max-width:499px){
  .float-account-view{
    width:300px;
  }
  #desc-avc{
    line-height:18px;
    font-size:13px;
  }
  ul ul p{
    font-size:12px;
  }
  ul ul li{
    font-size:13px;
    margin-left:-8px;
  }
  #type-avc{
    font-size:12px;
  }
  ul ul{
    padding-right:0px;
    border:1px solid transparent !important;
  }
}
@media (max-width:395px){
  .float-account-view{
    width:250px;
  }
  ul ul p{
    font-size:11px;
  }
  ul ul li{
    font-size:12px;
    margin-left:-8px;
  }
  #type-avc{
    font-size:11.5px;
    margin-right:-8px;
  }
  ul ul{
    padding-right:0px;
    border:1px solid transparent !important;
  }
}
@media (max-width: 399px){
#banner-pic{
  width:115px;
}
.nav-img{
  margin-left:20px;
  margin-right:-40px;
}
}

.gg-options {
    width: 10px;
    height: 1.4px;
}
.gg-options::after,
.gg-options::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-radius: 100%
}
.settings-list{
  display:flex;
  flex-direction:column;
  gap: 10px;
  margin-top:25px;
  margin-left:-5px;
}
.settings-box-list-select{
  cursor:pointer;
  display:flex;
  margin-bottom:14px;
  gap:12px;
  padding:14px 0px;
  border-radius:2px;
  padding-top:2px;
  padding-bottom:13px;
  border-bottom:1px solid;
  border-right:1px solid;
  border-color:rgb(220,220,220);
}
.settings-box-list-select:hover{
  border-color:black;
}
.settings-box-list-select h1{
  font-size:14.5px;
  font-weight:300;
  margin-top:5px;
}
.settings-box-list-select i{
  font-size:20px;
  margin-top:3px;
  margin-left:5px;
}
.change-password-box{
  display:flex;
  gap:12px;
  border-radius:2px;
  border-bottom:1px solid;
  border-right:1px solid;
  padding:11px 0px;
  padding-top:0px;
  padding-bottom:16px;
  margin-top:24px;
  border-color:rgb(220,220,220);
  cursor:pointer;
}
.change-password-box:hover{
  border-color:black;
}
.change-password-box p{
  font-size:13.75px;
  margin-top:5px;
}
.change-password-box i{
  font-size:22px;
  margin-left:5px;
}
.change-password-view{
  margin-top:10px;
}
.change-password-view input{
  border:none; 
  border-bottom:1px solid rgb(220,220,220);
  border-left:1px solid rgb(220,220,220);
  padding: 0px 10px;
  padding-top:4px;
  padding-bottom:10px;
  margin-bottom:22px;
}
.change-password-view input:hover{
  border-color:black;
}
.change-password-view input:focus{
  border-color:black;
}
.change-password-view h2{
  font-weight:500;
  font-size:14px;
  margin-bottom:25px;
  margin-top:20px;
}
.change-password-view button{
  background:black;
  color:white;
  border-radius:6px;
  font-weight:400;
  font-size:15px;
  padding: 9px 13px;
  position:absolute;
  right:0;
  margin-right:25px;
  margin-top:80px;
  white-space:nowrap;
  }
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background:rgb(190,190,190);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10.5px;
	height: 10.5px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: dodgerblue;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.privacy-list{
  display:flex;
  gap:10px;
  margin-top:30px;
  margin-left:-25px;
  border-bottom:1px solid rgb(228,228,228);
  padding-bottom:25px;
}
.privacy-list p{
  font-size:14px;
  color:rgb(50,50,50);
  margin-top:.49px;
  margin-left:4px;
}
.settings-information{
  position:relative;
  text-align:center;
  padding-top:15px;
}
.information-src{
  margin-top:3px;
}
#banner-information{
  height:76px;
  width:70%;
  border-radius:8px;
}
#pic-information{
  height:58px;
  width:58px;
  position:absolute;
  border-radius:100%;
  left:27.3%;
  transform: translate(-50%,-50%);
  margin-top:58px;
  z-index:1;
}
.pic-information-cover{
  background:rgba(0,0,0,.3);
  height:58px;
  width:58px;
  position:absolute;
  border-radius:100%;
  left:27.3%;
  transform: translate(-50%,-50%);
  margin-top:-22px;
  display:flex;
  flex-direction:column;
  z-index:2;
  align-items:center;
  justify-content: center;
  cursor:pointer;
}
.banner-information-cover{
  background:rgba(0,0,0,.3);
  height:76px;
  width:70%;
  position:absolute;
  border-radius:8px;
  left:50%;
  transform: translate(-50%,-50%);
  margin-top:-42px;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content: center;
  cursor:pointer;
}
.pic-information-cover i, .banner-information-cover i{
  color:white;
  font-size:24px;
  margin-top:7px;
}
img{
  object-fit:cover;
  object-position:center;
}
#cp-ic{
  color:white;
  font-size:11.3px;
  margin-top:3.25px;
}
#cp-ie{
  font-size:11.3px;
  margin-top:15px;
  margin-left:-156px;
}
.information-form{
  margin-top:11px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  padding-left:55.5px;
  padding-top:14px;
}
.information-form p{
  font-size:11.5px;
  color:black;
  margin-left:0px;
  margin-bottom:2px;
}
.information-form input{
  border:none;
  border-right: 1px solid rgb(220,220,220);
  color:rgb(85,85,85);
  margin-top:4px;
  font-size:13.5px;
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom:8px;
  width:85%;
  padding-right:8px;
}
.information-form input:hover,.information-form input:focus, .information-form textarea:hover, .information-form textarea:focus{
  border-color:black;
}
.information-form textarea{
  border:none;
  border-right: 1px solid rgb(220,220,220);
  resize:none;
  padding-right:8px;
  color:rgb(85,85,85);
  margin-top:4px;
  font-size:13.5px;
  width:85%;
  height:62px;
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom:6px;
}
.information-form button{
  padding:8px 12px;
  background:black;
  color:white;
  font-weight:400;
  font-size:13px;
  margin-left:45px;
  margin-top:18.5px;
  border-radius:5px;
}
.banner-information-cover input,.pic-information-cover input{
  display:none;
}
