@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600:700&display=swap');
*{

  padding:0;
  margin:0;
  font-family: 'Inter', sans-serif;
  user-select:none;
  transition:.6s all ease-in-out;
  scroll-margin-top: 60px;
-webkit-user-drag: none;
  list-style: none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
}
html{
transition:0s;
padding-bottom:30px;
background:rgb(248,248,248);
}
@media screen and (max-width:1100px) {
html{
  background:white;
}
}
@media screen and (max-width:500px) {
html{
padding-bottom:100px;
}
}
::-webkit-scrollbar {
  width: 2px;
  height: 5.5px;
}
/* Only FireFox */
html {scrollbar-color: rgb(180,180,180) transparent;}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(180,180,180);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
  border-radius: 12px;
}
html,body{
  overflow-x:hidden;
-webkit-font-smoothing: antialiased;
}
.btn-ifollow{
  background:#1F1F1F !important;
  font-weight:400 !important;
  font-weight:400 !important;
  margin-top:17px !important;
  margin-bottom:7px !important;
  padding:11px 13px !important;
}
.btn-theyfollow{
  padding:11px 13px !important;
  background:white !important;
  border:1px solid black !important;
  color:black !important;
  font-weight:400 !important;
  margin-top:17px !important;
  margin-bottom:7px !important;
}
button{
  padding:15px 17px;
  border-radius:5px;
  font-size:18px;
  background:white;
  font-weight:600;
  text-align:center;
  color: rgb(51, 51, 51);
  outline: none;
  cursor: pointer;
  border:none;
}
.button-style-light{

}
.button-style-dark{

}
.button-style-light-noborder{

}
.button-style-dark-noborder{

}
@keyframes bHafHd{
  0%{
    background-position-x:0%;
  }
  100%{
    background-position-x:-200%;
  }
}
.gradient-style-1{
    display: inline-block;
    background-position-x: 0px;
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgb(56, 123, 255);
    background-image: linear-gradient(90deg, rgb(162, 68, 255) 0%, rgb(52, 182, 255) 50%, rgb(162, 68, 255) 100%);
    animation: 3s ease-in-out 0s infinite normal none running bHafHd;
}
.gradient-style-2{

}
.gradient-style-3{

}
.swal2-icon {
  border-width:2px !important;
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
    border-radius:6.5px;
    padding-left:22px;
    padding-right:2px;
}
.swal2-title {
  font-weight:400 !important;
  margin-left:6px !important;
}

#loader-login{
  top:91% !important;
}
.loader {
	--color: black;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.2vmin;
	--size-square: 3vmin;
	display: block;
	position:absolute;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  top:92.5%;
  left:0%;
  margin-left:222.5px;
	width: 100%;
	display: grid;
	place-items: center;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}
.loader.--4::before {
	height: var(--size-bar);
	width: 30vmin;
	background-color: var(--color);
	animation: loader-4 2s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes loader-4 {
	0%, 44%, 88.1%, 100% {
		transform-origin: left;
	}
	
	0%, 100%, 88% {
		transform: scaleX(0);
	}
	
	44.1%, 88% {
		transform-origin: right;
	}
	
	33%, 44% {
		transform: scaleX(1);
	}
}

.raffle-joining-view,.raffle-joining-view{
  position:fixed;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  left:50%;
  top:50%;
  z-index:4;
}
input{
  border:none; 
  border-bottom:1px solid rgb(220,220,220);
}
input::placeholder{
  color:rgb(190,190,190);
}
input:hover,input:focus{
  border-color:black !important;
}
.bg-r-v{
  position:fixed;
  z-index:5;
  width:100vw;
  height:100vh;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  left:50%;
  top:50%;
  background:rgba(0,0,0,.4);
}
.raffle-creation-content,.raffle-joining-content{
  position:fixed;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  left:50%;
  top:50%;
  background:white;
  border-radius:16px;
  z-index:6;
  padding:45px;
  height:600px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-bottom:60px;
  width:60%;
}
.raffle-joining-content{
  height:330px;
  width:430px;
}
.rjcb{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:48px;
  gap:19px;
}
.rjcb h1{
  font-size:28px;
  text-align: center;
}
.rjcb p{
  color:rgb(120,120,120);
  font-size:15.7px;
  text-align: center;
}
.rjcb input{
  border-right:1px solid rgb(220,220,220);
  font-size:22px;
  padding:8px 8px;
  margin-top:24px;
}
.rjcb button{
  background:black;
  color:white;
  padding:10px 25px;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 6px;
  font-weight:300px;
}
@media(max-width: 1560px){
  .rafl-section{
    flex-direction:column-reverse !important;
    width:100%;
    justify-content:center;
    align-items:center;
  }
  .left-raf,.right-raf{
    width:100% !important;
    align-items:center !important;
    justify-content:center !important;
  }
  .left-raf{
    padding-left:40px;
    margin-top:-40px;
  }
  .right-raf{
    margin-left:-45px;
  }
}
@media (max-width:485px){
  .raffle-joining-content{
    width: 300px !important;
  }
  .rjcb h1{
    font-size: 22px;
  }
  .rjcb p{
    font-size: 15px;
  }
  .rjcb input{
    font-size: 18px;
    width: 200px;
    margin-left: 20px;
  }
  .rjcb button{
    font-size: 15px;
  }
}
@media (max-width:485px){
  .raffle-joining-content{
    width: 270px !important;
  }
  .top-title-v h1{
    font-size:20px !important;
  }
  .top-title-v i{
    font-size:24px !important;
  }
}
@media screen and (max-width: 370px) {
  .raffle-joining-content{
    width:250px !important;
  }
}
@media (max-width:550px){
  .raffle-joining-content{
    width: 380px;
  }
  .frm textarea{
    width:100px;
  }
}
@media(max-width:980px){
  .raffle-creation-content{
    width:80%;
  }
}
@media(max-width:652px){
  .max-view{
    flex-direction:column;
    align-items:center;
    margin-left:-30px;
  }
  .max-winners-view{
    margin-left:-15px;
  }
}
@media (max-width:540px){
  .raffle-creation-content{
    padding-left:30px;
    padding-right:30px;
  }
}
@media (max-width:700px){
  .other-view{
    flex-direction:column;
    gap:10px;
  }
}
.rafl-section{
  display:flex;
  flex-direction:row-reverse;
  align-items:flex-start;
}
.top-title-v{
  display:flex;
  gap:13px;
}
.left-raf,.right-raf{
  width:50%;
}
.left-raf{
  display:flex;
  padding-right:30px;
  padding-top:20px;
  align-items:flex-end;
  justify-content:flex-end;
}
.top-title-v i, .top-title-v h1{
    background-position-x: 0px;
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgb(56, 123, 255);
    background-image: linear-gradient(90deg, rgb(162, 68, 255) 0%, rgb(52, 182, 255) 50%, rgb(162, 68, 255) 100%);
    animation: 3s ease-in-out 0s infinite normal none running bHafHd;
}
.top-title-v i{
  font-size:27px;
  margin-top:2px;
}
.top-title-v h1{
  font-size:24px;
}
#close-v{
  margin-left: auto;
  font-size:33px;
  cursor:pointer;
  margin-top:-1px;
}
.frm{
  margin-top:40px;
  display:flex;
  flex-direction:column;
  gap:4px;
}
.frm p{
  font-size:13px;
  color:rgb(80,80,80);
  margin-left:10px;
}
.frm input{
  border:none; 
  width:300px;
  font-size:16px;
  border-bottom:1px solid rgb(220,220,220);
  border-right:1px solid rgb(220,220,220);
  padding: 0px 10px;
  padding-top:4px;
  padding-bottom:10px;
  margin-bottom:22px;
}
.frm input::placeholder{
  color:rgb(150,150,150);
}
.frm input:hover{
  border-color:black;
}
.frm input:focus{
  border-color:black;
}
.frm textarea{
  border:none; 
  width:350px;
  font-size:16px;
  border-bottom:1px solid rgb(220,220,220);
  border-right:1px solid rgb(220,220,220);
  resize:none;
  padding: 0px 10px;
  height:110px;
  white-space: pre-line;
  padding-top:4px;
  padding-bottom:10px;
  margin-bottom:22px;
}
.frm textarea::placeholder{
  color:rgb(150,150,150);
}
.frm textarea:hover{
  border-color:black;
}
.frm textarea:focus{
  border-color:black;
}
.max-participants-view{
  display:flex;
}
.max-participants-view p{
  font-size:27px;
  cursor:pointer;
  font-weight:300;
  padding:6px 12px;
  border:1px solid rgb(245,245,245);
  border-radius:6px;
}
.max-participants-view p:hover{
  border-color:black;
}
.max-participants-view h1{
  font-weight:500;
  border-bottom:1px solid rgb(170,170,170);
  padding-left:8px;
  padding-right:8px;
}
#minus{
margin-right:25px;
}
#plus{
margin-left:25px;
margin-top:-3px;
}
.frm h2{
  font-weight:500;
  font-size:16px;
  margin-left:5px;
  margin-bottom:20px;
  color:rgb(110,110,110);
}
.max-view{
  display:flex;
  gap:20px;
}
.max-participants-viewe{
  display:flex;
  flex-direction:column;
}
.max-participants-viewe input{
  width:200px;
}
.max-winners-view{
  display:flex;
  flex-direction:column;
}
.max-participants-viewe h2{
  font-size:14px;
  color:black;
  margin-top:0px;
  margin-bottom:25px;
}
.max-winners-view h2{
  font-size:14px;
  color:black;
  margin-left:10px;
}
.frm h4{
  font-size:28px;
  margin-left:6px;
  margin-top:-30px;
  margin-bottom:14px;
}
.max-winners-view button{
  background:black;
  color:white;
  border-radius:7px;
  font-weight:500;
  padding:10px 8px;
  font-size:16px;
  margin-top:72px;
  cursor:pointer;
  margin-right:-20px;
}
#main-pic-raf{
  height:166px;
  width:176px;
  border-radius: 12px;
  margin-left:5px;
  cursor:pointer;
}
.right-raf{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-bottom:39px;
  padding-top:39px;
  padding-left:40px;
}
.selector-prize{
  display:flex;
  margin-top:32px;
  margin-bottom:25px;
}
.selector-prize p{
  background:rgb(225,225,225);
  padding:12px 18px;
  font-size:15px;
  cursor:pointer;
}
.selector-prize .selected{
  background:black;
  color:white;
}
.other-view{
  display:flex;
  margin-top:14px;
}
.other-view img{
  height:180px;
  width:180px;
  margin-right:10px;
  border-radius:12px;
  cursor:pointer;
}
.right-raf input{
  display:none;
}
.money-view input{
  display:block;
  border:none;
  border:1px solid rgb(230,230,230);
  padding:10px;
  padding-left:50px;
  padding-right:25px;
  border-radius:8px;
  font-size:30px;
  text-align:center;
  width:200px;
  margin:25px auto;
}
.money-view input:focus,.money-view input:hover{
  border-color:black;
}
.money-view input::placeholder{
  color:rgb(180,180,180);
}
.money-view h1{
  position:absolute;
  color:green;
  border-radius:4px;
  padding: 8px 18px;
  font-size:25px;
  font-weight:500;
  margin-left:5px;
  margin-top:31px; 
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.money-view{
  display:flex;
}
img{
  object-fit:cover;
  object-position:center;
}
@media (max-width:533px){
  .frm textarea{
    width:300px;
  }
  .left-raf{
    margin-left:-25px;
  }
}
@media (max-width: 415px){

}
@media (max-width:480px){
  .frm textarea, .frm input{
    width:250px;
  }
}
